html, body {
  background-color: #f7fbfc;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 100%;
}

.web-header {
  height: 15vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.main-content {
  height: 85vh;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.smaller-font {
  font-size: 85%;
}

.logoStyle {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #F5793B;
}

.image-box {
  position: relative;
  text-align: center;
  color: black;
  border-radius: 10px;
}

.top-left {
  position: absolute;
  padding: 3px;
  top: 12px;
  left: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
}
