body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, p {
  text-align: center;
}

input {
  width: 100%;
}

.webHeader {
  height: 15vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.mainContent {
  height: 85vh;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.smaller-font {
  font-size: 85%;
}

.logoStyle {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #F5793B;
}
